{{- if .Values.otelAgent.enabled }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ .Values.otelAgent.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Values.otelAgent.name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.otelAgent.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.otelAgent.name }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8888"
    spec:
      serviceAccountName: {{ .Values.otelAgent.serviceAccount.name }}
      hostNetwork: true
      hostPID: true
      containers:
      - name: otel-agent
        image: "{{ .Values.otelAgent.image.repository }}:{{ .Values.otelAgent.image.tag }}"
        imagePullPolicy: {{ .Values.otelAgent.image.pullPolicy }}
        command:
          - /otelcol-k8s
          - --config=/conf/otel-agent-config.yaml
        env:
        - name: K8S_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: K8S_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: K8S_POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: K8S_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        ports:
        - name: otlp-grpc
          containerPort: 4317
          protocol: TCP
        - name: otlp-http
          containerPort: 4318
          protocol: TCP
        - name: jaeger-grpc
          containerPort: 14250
          protocol: TCP
        - name: jaeger-thrift
          containerPort: 14268
          protocol: TCP
        - name: zipkin
          containerPort: 9411
          protocol: TCP
        - name: metrics
          containerPort: 8888
          protocol: TCP
        resources:
          {{- toYaml .Values.otelAgent.resources | nindent 10 }}
        volumeMounts:
        - name: otel-agent-config
          mountPath: /conf
        {{- if .Values.otelAgent.logs.enabled }}
        - name: varlog
          mountPath: /var/log
          readOnly: true
        - name: varlibdockercontainers
          mountPath: /var/lib/docker/containers
          readOnly: true
        {{- end }}
      volumes:
      - name: otel-agent-config
        configMap:
          name: {{ .Values.otelAgent.name }}-config
      {{- if .Values.otelAgent.logs.enabled }}
      - name: varlog
        hostPath:
          path: /var/log
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}

